@import "reset.css";

/*title Tagesschrift*/
@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap'); 
/*general use Alegreya*/
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Tagesschrift&display=swap');


#root {
  min-height: 100vh;
}

body {
  text-align: center;
  font-family: 'Alegreya', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', "Geneva", Verdana, sans-serif;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-top: 10px;
}

h2 {
  font-size: 2.4rem;
  font-family: "Tagesschrift";
}

.king {
  width: 90%;
  max-width: 350px;
  margin-bottom: 15px;
}

.wordmark {
  width: 100%;
  max-height: 110px;
}

.wishlistlink p {
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
}

.gallery {
  display: flex;
  margin: 20px 0 20px 0;
}

.gallery img {
  width: calc(25% - 10px);
  margin: 5px;
  border-radius: 14px;
}

.info-links {
  display: flex;

}

.info {
  border-radius: 40px;
  background-color: black;
  color: white;
  background:rgba(0,0,0,0.75);
  padding: 3%;
  font-size: 1.3rem;
  margin: 2%;
  height: min-content;
}

.info p { 
  opacity: 80%;
}

.info h2 {
  margin-bottom: 15px;
  opacity: 80%;
}

.links {
  margin: 0 15px;
  margin-bottom: 10px;
  max-width: 410px;
  width: 95%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.link, .socialstitle {
  border-radius: 14px;
  padding: 15px;
  text-decoration: none;
  margin: 3px;
  font-size: 1.3rem;
  color: white;
  background-color: black;
}

.link {
  display: flex;
  opacity: 80%;
}

.link:hover {
  opacity: 85%;
}

.socialstitle {
  opacity: 87%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.steamlink, .discordlink, .youtubelink, .twitchlink, .fblink, .xlink, .blueskylink, .redditlink, .tiktoklink, .socialstitle {
  width: 100%;
  max-width: 270px;
  height: 45px;
}

.linkdiv {
  display: flex;
  align-items: center;
  vertical-align: middle;
  width: 100%;
}

.linkdiv img {
  margin-right: 13px;
}

.linkdiv p {
  width: 100%;
}

.discordlogo {
  height: 2.3rem;
}

.youtubelogo {
  height: 2.8rem;
}

.twitchlogo {
  height: 3.2rem;
}

.steamlogo {
  height: 3.3rem;
}

.fblogo {
  height: 3rem;
}

.xlogo {
  height: 3rem;
}

.blueskylogo {
  height: 2.5rem;
}

.redditlogo {
  height: 3rem;
}

.tiktoklogo {
  height: 3rem;
}

.emailsignupform input {
  margin-left: 5px;
  width: 100%;
  max-width: 250px;
}

