@import "reset.css";

@import "~react-image-gallery/styles/css/image-gallery.css";

/*title Tagesschrift*/
@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap'); 
/*general use Alegreya*/
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Tagesschrift&display=swap');


#root {
  min-height: 100vh;
}

body {
  text-align: center;
  font-family: 'Alegreya', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', "Geneva", Verdana, sans-serif;
  min-height: 100vh;
  font-size: 1.3rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-top: 10px;
}

h2 {
  font-size: 2.4rem;
  font-family: "Tagesschrift";
}

h3 {
  font-size: 1.6rem;
  font-family: "Tagesschrift";
}

.king {
  width: 90%;
  max-width: 350px;
  margin-bottom: 15px;
}

.wordmark {
  width: 100%;
  max-height: 150px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
}

.image-gallery {
  width: 95%;
  max-width: 1000px;
  margin-top: 15px;
}

.image-gallery-image {
  border-radius: 14px;
}

.info-links {
  display: flex;
  margin: 2% 5%;
  width: 95%;
  max-width: 950px;
  align-items: flex-start;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right:1%;
}

.about {
  border-radius: 40px;
  background-color: black;
  color: white;
  background:rgba(0,0,0,0.75);
  padding: 5% 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  margin-bottom: 7px;
}

.about p  {
  opacity: 80%;
}

.about h2 {
  margin-bottom: 15px;
  opacity: 80%;
}

.contact {
  opacity: 80%;
  word-wrap:break-word;
}

.presskit, .contact {
  max-width: 300px;
  width: 80%;
}

.presskit h4 {
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
}

.links {
  margin: 0 2%;
  max-width: 410px;
  width: 95%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.links .link, .socialstitle {
  width: 100%;
  max-width: 550px;
}

.link, .socialstitle, .contact {
  border-radius: 14px;
  padding: 15px;
  text-decoration: none;
  margin: 3px;
  color: white;
  background-color: black;
}

.link, .socialstitle {
  height: 45px;
}

.link {
  display: flex;
  opacity: 80%;
}

.link:hover {
  opacity: 85%;
}

.socialstitle {
  opacity: 87%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkdiv {
  display: flex;
  align-items: center;
  vertical-align: middle;
  width: 100%;
}

.linkdiv img {
  margin-right: 13px;
}

.linkdiv p {
  width: 100%;
}

.logo {
  height: 3rem;
}

.discordlogo {height: 2.3rem;}
.youtubelogo {height: 2.8rem;}
.twitchlogo {height: 3.2rem;}
.steamlogo {height: 3.3rem;}
.blueskylogo {height: 2.5rem;}
.redditlogo {height: 3rem;}

.emailsignupform input {
  margin-left: 5px;
  width: 100%;
  max-width: 250px;
}

@media (max-width: 750px) {
  .socialstitle {
    display: none;
  }
  .links {
    width: min-content;
    margin: 10px 0;
  }
  .links p {
    display: none;
  }
  .links .link {
    width: min-content;
  }
  .links .link img {
    margin: 0;
  }
  .wishlistlink h2 {
    font-size: 1.7rem;
  }
  .wishlistlink img {
    height: 3rem;
  }

  @media (max-width: 650px) {
    .wishlistlink h2 {
      font-size: 1.3rem;
    }
    .wishlistlink img {
      height: 2.5rem;
    }
  }

  @media (max-width: 500px) {
    .wishlistlink h2 {font-size: 1.1rem;}
    .info h2 {font-size: 1.5rem;}
    .info p {font-size: 1.2rem;}
    .info h3 {font-size: 1.45rem;}    
    .presskit h4 {font-size: 1.4rem;}
    .wishlistlink img {
      height: 2.2rem;
    }
  }

  @media (max-width: 450px) {
    .contact {width: 170px}
    .presskit {width: 170px}
  }
}